---
import Page from '../layouts/Page.astro';
import Rustbik from '../components/rustbik.astro';
---

<Page>
	<main>
		<section class="full">
			<div class="container">
				<div class="headerline">
					<h1>Hello! My name is <span class="highlight">Victor</span>.<br>I like to code stuff.</h1>
				</div>
			</div>
			<Rustbik/>
		</section>
		<section class="medium">
			<p>
				I've been coding as a hobby for almost 8 years now. <br>
				In that time, I've picked up knowledge in several <br>
				<span class="highlight">programming languages</span>, <span class="highlight">frameworks</span> and <span class="highlight">tools</span>. <br>
			</p>
		</section>
	</main>
</Page>

<style>
	:root {
		--text: #ecf2f4;
		--background: #090e0f;
		--primary: #a0c3c8;
		--secondary: #5c4171;
		--accent: #ab6da8;
		--font-headline: 'Lexend', sans-serif;
		--font-mono: 'IBM Plex Mono', ui-monospace, Monaco, monospace;
	}

	.highlight {
		color: var(--accent);
	}

	.description {
		font-family: var(--font-mono);
	}

	.container {
		margin: 0 auto;
		width: 100%;
	}

	@media (min-width: 640px) {
		.container {
			max-width: 640px;
		}
	}

	@media (min-width: 768px) {
		.container {
			max-width: 768px;
		}
	}

	@media (min-width: 1024px) {
		.container {
			max-width: 1024px;
		}
	}

	@media (min-width: 1280px) {
		.container {
			max-width: 1280px;
		}
	}

	@media (min-width: 1536px) {
		.container {
			max-width: 1536px;
		}
	}

	.headerline {
		width: 50%;
		font-family: var(--font-headline);
		font-size: 2.4rem;
		/* line-height: 2rem; */
	}

	section.full {
		min-height: 100vh;
		display: flex;
		place-items: center;
	}

	section.medium {
		min-height: 40vh;
	}
	
	p {
		font-size: 1.5rem;
	}

	h1 {
		padding: 0;
		margin: 0;
	}

	body {
		background: var(--background);
		color: var(--text);
		font-family: Lexend, sans-serif;
	}
</style>
