<canvas id="rustbik"></canvas>
<div id="rustbik-interact-overlay"></div>

<style>
    canvas {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
    }

    div {
        position: absolute;
        width: 50vw;
        height: 100vh;
        top: 0;
        left: 50%;
        /* background-color: red; */
        opacity: 30%;
        z-index: 2;
    }
</style>

<script>
    import * as rustbik from "rustbik";

    const rustbikCanvas = document.querySelector<HTMLCanvasElement>("canvas#rustbik")!;
    const overlay = document.querySelector<HTMLDivElement>("#rustbik-interact-overlay")!;
    const body = document.querySelector("body")!;
    rustbikCanvas.width = rustbikCanvas.clientWidth;
    rustbikCanvas.height = rustbikCanvas.clientHeight;

    const observer = new ResizeObserver((entries) => {
        const entry = entries.find(entry => entry.target === rustbikCanvas)!;
        if ('devicePixelContentBoxSize' in entry) {
            rustbikCanvas.width = entry.devicePixelContentBoxSize[0]!.inlineSize;
            rustbikCanvas.height = entry.devicePixelContentBoxSize[0]!.blockSize;
        } else {
            // @ts-ignore
            rustbikCanvas.width = entry.contentRect.width * window.devicePixelRatio;
            // @ts-ignore
            rustbikCanvas.height = entry.contentRect.height * window.devicePixelRatio;
        }
        
        // Notify rustbik that the canvas size has changed
        rustbikCanvas.dispatchEvent(new CustomEvent("observer_resize", {
            detail: entry
        }));
    });
    observer.observe(rustbikCanvas, { box: 'device-pixel-content-box' })

    overlay.addEventListener("contextmenu", (e) => {
        e.preventDefault();
    });

    overlay.addEventListener("mousemove", (e) => {
        e.preventDefault();
        // console.log(e.movementX, e.movementY);
        rustbikCanvas.dispatchEvent(new CustomEvent("mousemove_fwd", {
            detail: e
        }));
    });

    overlay.addEventListener("mousedown", (e) => {
        e.preventDefault();
        rustbikCanvas.dispatchEvent(new CustomEvent("mousedown_fwd", {
            detail: e
        }));
    });

    body.addEventListener("mouseup", (e) => {
        rustbikCanvas.dispatchEvent(new CustomEvent("mouseup_fwd", {
            detail: e
        }));
    });

    try {
        rustbik.bind(rustbikCanvas, {
            premultipliedAlpha: false,
            alpha: true,
            failIfMajorPerformanceCaveat: true,
        });
    } catch (e) {
        console.error("failed to load: ", e);
    }
</script>